body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  /* text-transform: capitalize; */
}
h1 a {
  text-decoration: none;
  color: #08d3bb;
  text-transform: uppercase;
}
h1 {
  text-align: center;
  color: #08d3bb;
  /* text-decoration: underline; */
}
span {
  color: var(--green);
  font-size: 1.6rem;
}
article img {
  width: 100%;
}
section {
  display: grid;
  grid-template-columns: 40% 40%;
  align-items: center;
  justify-content: space-around;
}
:root {
  --lightblue: #1090cb;
  --green: #08d3bb;
}

.i2 {
  max-width: 15rem;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: lighter;
}
.i2 h2 {
  display: inline;
  color: #08d3bb;
}
@media (max-width: 420px) {
  section {
    display: grid;
    grid-template-columns: 70%;
    align-items: center;
    justify-content: space-around;
  }
  article img {
    width: 100%;
  }
}

@media (max-width: 370px) {
  section {
    display: grid;
    grid-template-columns: 70%;
    align-items: center;
    justify-content: space-around;
  }
  article img {
    width: 100%;
  }
}
