body {
  display: flex;

  margin: 0;
  font-family: Arial, sans-serif;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
  background: linear-gradient(
    /* to bottom,
    #4c4c4c 0%,
    #595959 12%,
    #666666 25%,
    #474747 39%,
    #2c2c2c 50%,
    #000000 51%,
    #111111 60%,
    #2b2b2b 76%,
    #1c1c1c 91%,
    #131313 100% */
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.img img {
  width: 3rem;
  height: 2rem;
  object-fit: contain;
  margin: 0;
  padding: 0;
  border-radius: 0.5rem;
}
#_art article {
  border-radius: 1rem;
  padding: 2rem 5rem 5rem 5rem;
  background-color: blanchedalmond;
  /* background-size: 100vh 20vh; */
  width: 80vw;
}
@keyframes flowingtext {
  0% {
    background-size: 0%;
  }

  100% {
    background-size: 100%;
  }
}
#first {
  font-size: 4rem;
  color: transparent;
  background: linear-gradient(to right, #bbabab, #000);
  background-clip: text;
  animation-name: flowingtext;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.sidebar {
  width: 250px; /* Width of the sidebar */
  background-color: #bbabab; /* Background color */
  padding: 20px; /* Padding around the content */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  height: 100vh;
}

.sidebar-image {
  max-width: 100%; /* Responsive image */
  border-radius: 50%;
  height: auto; /* Maintain aspect ratio */
}

.content {
  flex: 1; /*
   Take remaining space */
  padding: 20px; /* Padding around the content */
}
.timg {
  display: inline-block;
  /* padding: 3rem 10rem 10rem 10rem; */
  /* background-color: blanchedalmond; */
  float: right;
  margin-top: -13.3rem !important;
}
.timg img {
  width: 17rem;
  border-radius: 0.8rem;
  /* float: right; */
}
a {
  text-decoration: none;
}

.firth2 {
  text-decoration: underline;
  margin: 0.3 0.3 0.3 0.3;
}

.dummy {
  background-color: #bbabab;
  margin-top: 2rem;
  width: 30rem;
  border-radius: 0.8rem;
  padding: 1rem;
}
.dummy p {
  max-width: 19rem;
}

.dummy2 {
  background-color: #bbabab;
  margin-top: 2rem;
  width: 30rem;
  border-radius: 0.8rem;
  padding: 1rem;
}
.dummy2 p {
  max-width: 19rem;
}

.secnd_div {
  display: grid;
  grid-template-columns: 20% 20%;
}

.myn {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: space-around;
}
